* {
    box-sizing: border-box;
}


body {
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: radial-gradient(#6c4c81, #19181F);
    font-family: 'Roboto Mono', monospace;
    
}  
h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#F6E2FC, #B376EA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Sacramento', cursive;
  }
button {

font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #F6E2FC;
  background-color: #CF68FD;
border: none;
border-radius: 10px;
width: 170px;
 height:50px;
 text-align:center;
 line-height:1.1em;
 font-size:1.1em;

}

button:hover {
  background-color: black;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.game-instructions {
    background-color: #19181F;
    color: #CCCCCC;
    width: 50%;
    height: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    opacity: 0;
    pointer-events: none;
    position: fixed;



}
.game-instructions h2 {
    font-size: 2rem;
}
.game-instructions.show {
    opacity: 1;
    pointer-events: auto;
}
.game-instructions p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: .5rem;
}
.close-instruction {
    padding: .5rem;
    margin: 1.2rem;
}
.card {
    background-color: radial-gradient(#6c4c81, #19181F);
    width: 50%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

@media(max-width: 450px) {
    button {
        font-size: .8rem;
    }
    .game-instructions {
    width: 70%;
    height: 70%;
    padding: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.card {
  width: 70%;
  
}
h1 {
    margin: 1rem;
    font-size: 60px;
}
}